<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/an0nstyle.css">
</head>


<body>
<center>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
{% endwith %}


<img src="../static/header.png" />
<p>
     
<p>Upload your twbx</p>

<form action="/" method="post" enctype="multipart/form-data">
    {{ form.filename }}
    {{ form.hidden_tag() }}
    {{ form.submit }}
</form>
</body>
