<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/an0nstyle.css">
</head>


<body>
<center>

<img src="../static/topheader.png" />
    
    <form action="/select/{{ filename }}" method="post" enctype="multipart/form-data">
    {{ form.filename }}
    {{ form.hidden_tag() }}
    {% for ds in data %}
    <h2>{{ ds.caption }}</h2>
    <table>
        <tr><th>Role</th><th>Name</th><th>Type</th></tr>
    {% for f in ds.fields %}
        <tr><td><input type="checkbox" />{{ f.role }}</td><td>{{ f.caption or f.name }}</td><td>{{ f.datatype }}</td></tr>
    {% endfor %}
        </table>
    {% endfor %}
<br>
    {{ form.submit }}

</form>

</body>
